In [1]:
import pandas as pd
import numpy as np

1. Create a series of three different colors

In [2]:
data=["red","blue","balck"]
a=pd.Series(data)
a

0      red
1     blue
2    balck
dtype: object

2. View the series of different colors

In [3]:
a=pd.Series(data)
a

0      red
1     blue
2    balck
dtype: object

3. Create a series of three different car types and view it

In [4]:
car=["BMW","KIA","AUDI"]
b=pd.Series(car,name="CARS")
b

0     BMW
1     KIA
2    AUDI
Name: CARS, dtype: object

4. Combine the Series of cars and colors into a Data Frame

In [5]:
colors=["blue","red","black"]
cars=["BMW","KIA","AUDI"]
df=pd.DataFrame({"CARS":cars,"COLORS":colors})
df

   CARS COLORS
0   BMW   blue
1   KIA    red
2  AUDI  black

5. Find the different datatypes of the car data Data Frame

In [6]:
cars = pd.Series(["SUV", "Sedan", "Truck"])
colors = pd.Series(["Red", "Blue", "Green"])

car_data = pd.DataFrame({"Car": cars,"Color": colors})

print(car_data.dtypes)

Car      object
Color    object
dtype: object

6. Describe your current car sales Data Frame using describe ()

In [7]:
print(cars.describe())

count       3
unique      3
top       SUV
freq        1
dtype: object

7. Get information about your Data Frame using info ()

In [8]:
print(cars.info())

<class 'pandas.core.series.Series'>
RangeIndex: 3 entries, 0 to 2
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes
None

8) Create a Series of different numbers and find the mean of them

In [9]:
numbers=pd.Series([10,20,30,45,82,56])
print(numbers.mean())

40.5

9) Create a Series of different numbers and find the sum of them

In [10]:
num=pd.Series([20,45,78,96])
print(num.sum())

239

10) List out all the column names of the car sales Data Frame

In [11]:
cars=pd.Series(["BMW","AUDI","MERCEDES"])
colors=pd.Series(["RED","BLUE","BLACK"])
df=pd.DataFrame({"CARS":cars,"COLORS":colors})
print(df)

print("\nColumn of the cars::-",df.columns)

       CARS COLORS
0       BMW    RED
1      AUDI   BLUE
2  MERCEDES  BLACK

Column of the cars::- Index(['CARS', 'COLORS'], dtype='object')

In [19]:
car_sale= pd.read_csv(r"C:\Users\lenovo\Desktop\Data Analytics\Excel files\car_sales.csv")
car_sale

        Make   Color  Price  Year  Doors
0     Toyota     Red  20000  2018      4
1      Honda    Blue  18000  2019      4
2       Ford   Green  25000  2017      2
3    Hyundai   Black  12000  2020      4
4        BMW   White  35000  2021      2
5       Audi  Yellow  40000  2022      2
6        Kia    Gray  15000  2019      5
7   Mercedes  Silver  45000  2021      4
8  Chevrolet   Brown  22000  2018      4
9     Nissan  Maroon  17000  2020      5

11) Find the length of the car sales Data Frame

In [20]:
print("Length of the car data frame::-", len(car_sale))

Length of the car data frame::- 10

12) Show the first 5 rows of the car sales Data Frame

In [21]:
car_sale.head(5)

      Make  Color  Price  Year  Doors
0   Toyota    Red  20000  2018      4
1    Honda   Blue  18000  2019      4
2     Ford  Green  25000  2017      2
3  Hyundai  Black  12000  2020      4
4      BMW  White  35000  2021      2

13) Show the first 7 rows of the car sales Data Frame

In [22]:
car_sale.head(7)

      Make   Color  Price  Year  Doors
0   Toyota     Red  20000  2018      4
1    Honda    Blue  18000  2019      4
2     Ford   Green  25000  2017      2
3  Hyundai   Black  12000  2020      4
4      BMW   White  35000  2021      2
5     Audi  Yellow  40000  2022      2
6      Kia    Gray  15000  2019      5

14) Show the bottom 5 rows of the car sales Data Frame

In [23]:
car_sale.tail(5)

        Make   Color  Price  Year  Doors
5       Audi  Yellow  40000  2022      2
6        Kia    Gray  15000  2019      5
7   Mercedes  Silver  45000  2021      4
8  Chevrolet   Brown  22000  2018      4
9     Nissan  Maroon  17000  2020      5

15) Use. loc to select the row at index 3 of the car sales Data Frame

In [24]:
car_sale.loc[3]#.loc print the 3 row of the data

Make     Hyundai
Color      Black
Price      12000
Year        2020
Doors          4
Name: 3, dtype: object

16) Use. iloc to select the row at position 3 of the car sales Data Frame

In [25]:
print(car_sale.iloc[3])

Make     Hyundai
Color      Black
Price      12000
Year        2020
Doors          4
Name: 3, dtype: object

17) Create a crosstab of the Make and Doors columns.

In [26]:
crosstab=pd.crosstab(car_sale['Make'],car_sale['Doors'])
crosstab

Doors      2  4  5
Make
Audi       1  0  0
BMW        1  0  0
Chevrolet  0  1  0
Ford       1  0  0
Honda      0  1  0
Hyundai    0  1  0
Kia        0  0  1
Mercedes   0  1  0
Nissan     0  0  1
Toyota     0  1  0